/* .first-button {
  border-right: 1px solid;
} */

/* --text-color: #949faa;
  --active-color: #1b9bee; */

.mat-button-toggle-group {
  border-radius: 15px;
  height: 30px;
  align-items: center;
  color: #1e293b;
  /* color: #949faa; */
}

mat-button-toggle {
  color: #1e293b;

  font-size: 14px;
  margin: 0;
  opacity: 0.7;
}
/* .mat-button-toggle-checked {
} */

.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: #fff;
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
